In [1]:
import pandas as pd
import numpy as np
import importlib

In [6]:
import mtjjv as mt

In [2]:
x_df = pd.DataFrame({"x": [0.2, 0.3], })

In [8]:
x_srs = pd.Series([0.2, 0.3])

In [3]:
isinstance(x_df, pd.DataFrame)

True

In [7]:
importlib.reload(mt)

In [10]:
mt.DirtyDataFrame(x_df)

In [13]:
x1 = np.random.exponential(size=10)
x2 = np.random.chisquare(23, size=10)

In [17]:
X_df = pd.DataFrame({'x1':x1, 'x2':x2})

In [24]:
row_to_add = X_df.sample(n=1)

In [35]:
X_df.loc[row_to_add.index, :]

         x1         x2
3  3.295007  30.286129

In [28]:
X_df

         x1         x2
0  1.414417  22.371218
1  1.213511  12.939544
2  0.598059  23.927321
3  3.295007  30.286129
4  1.661175  11.973476
5  1.998755  26.341923
6  2.094260  23.541810
7  0.406573  19.366148
8  1.926030  19.048541
9  0.197542  29.284974

In [38]:
pd.concat([X_df.loc[:row_to_add.index[0], :], row_to_add])

         x1         x2
0  1.414417  22.371218
1  1.213511  12.939544
2  0.598059  23.927321
3  3.295007  30.286129
3  3.295007  30.286129